.item{
    display:flex;
    justify-content:space-around;
}

.item_buy{
    width:805px;
    height:635px;
    margin-top:93px;
}

.item_buy_info{
    height:230px;
    display:flex;
    align-items:center;
}

.item_buy_info-pic{
    width:177.53px;
    height:177.53px;
}

.item_buy_info-pic img{
    width:100%;
    height:100%;
    background-repeat: no-repeat;
}

.item_buy_info-text{
    width:326px;
    height:187px;
    margin-left:55.47px;
    font-size:30px;
    font-weight:bold;
}

.item_buy_info-title-price{
    font-size:30px;
    font-weight:bold;
}

.item_buy_pay{
    height:190px;
    
}

.item_buy_pay-title{
    width:326px;
    height:85px;
    display:flex;
    align-items:center;
    font-size:20px;
    font-weight:bold;
    margin-left:35px;
    
}

.item_buy_pay-howto{
    width:326px;
    height:85px;
}

.item_buy_pay-howto select{
    width:265px;
    height:31px;
    border:1px solid #5f5f5f;
    margin-left:96px;
    margin-top:11px;
}


.item_buy_send{
    height:215px;
}

.item_buy_send-group{
    display:flex;
    justify-content:space-between;
    margin-left:35px;
}
.item_buy_send-group-title{
    height:85px;
    width:326px;
    display:flex;
    align-items:center;
    font-size:20px;
    font-weight:bold;
}

.item_buy_send-group-confirm{
    height:85px;
    width:115px;
    display:flex;
    align-items:center;
    font-size:20px;
}

.item_buy_send_address{
    height:58px;
    width:280px;
    margin-left:176px;
    margin-top:13px;
    font-size:20px;
    font-weight:bold;
}

.item_conf{
    width:440px;
    margin-top:93px;
}

.item_conf_pay{
    border:1px solid #000000;
    width:440px;
}

.item_conf_pay_price{
    height:115px;
    display:flex;
}

.item_conf_pay_price-title{
    height:115px;
    width:220px;
    font-size:20px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.item_conf_pay_price-nummber{
    height:115px;
    width:220px;
    font-size:24px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.item_conf_pay_howto{
    height:115px;
    display:flex;
}

.item_conf_pay_howto-title{
    border-top:1px solid #000000;
    height:115px;
    width:220px;
    font-size:20px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.item_conf_pay_howto-select{
    border-top:1px solid #000000;
    height:115px;
    width:220px;
    font-size:24px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.item_conf_button {
    height:60px;
    margin-top:66px;
}

.item_conf_button a{
    height:60px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:26px;
    font-weight:bold;
    background-color: #ff5555;
    border-radius: 5px;
}