.toplist{
    position:absolute;
    top:127px;  
}

.toplist__tag{ 
    border-bottom:2px solid #5f5f5f;    
    height:47px;
    width:1512px;
    
    display:flex;
    align-items:center;
}

.toplist__tag-reco{
    font-size:24px;
    font-weight:bold;
    position:absolute;
    left:129px;
    width:155px;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:right;
}

.toplist__tag-mylist{
    color:red;
    font-size:24px;
    font-weight:bold;
    position:absolute;
    left:336px;
    width:155px;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:right;
}



.item{
    position:absolute;
    left:69px;
    top:250px;
    width:1200px;
    display:flex;
    justify-content:space-around;
}

.item__table{
    width:290px;
    height:320px;
    
}

.item__table__pic{
    height:290px;
    width:290px;

}

.item__table__pic img{
    height:100%;
    width:100%;
    background-size:cover;
}

.item__table__name{
    font-size:25px;
    height:30px;
    display:flex;
    align-items:center;
}