.product{
    margin:95px;
    height:1704px;
    display:flex;
    justify-content:center; 
}

.product__img{
    width:690px;
}

.product__img__pic{
    display:flex;
    justify-content:center;
}

.product__img__pic img{
    width:600px;
    height:600px;
    margin:36px 0;
    background-size:cover;
}

.product__area{
    width:690px;
    display:flex;
    flex-direction:column;
    align-items: center;
}

.product__area__title{
    height:273px;
    width:570px;
    display:flex;
    flex-direction:column;
    align-items: left;
    justify-content:space-between;
}

.product__area__title-name{
    height:77px;
    font-size:45px;
    font-weight:bold;
}

.product__area__title-bland{
    font-size:20px;
    height:28px;
}

.product__area__title-price{
    font-size:30px;
    height:45px;
}

.product__area__title-form{
    margin-left:45px;
    width:145px;
    height:67px;
    display:flex;
    justify-content:space-between;

}
.product__area__title-form-like{
    height:67px;
    display:flex;
    flex-direction:column;
}

.product__area__title-form-like-button{
    background-color: white;
    border: none;
}

.product__area__title-form-like-button img{
    height:40px;
    width:45px; 
    border:none;   
    background-size:cover;
    background-repeat: no-repeat;
}

.product__area__title-form-like-count{
    display:flex;
    justify-content:center;
}

.product__area__title-form-comment{
    display:flex;
    flex-direction:column;
}

.product__area__title-form-comment-button img{
    height:40px;
    width:45px; 
    border:none;   
    background-size:cover;
    background-repeat: no-repeat;
}

.product__area__title-form-comment-count{
    display:flex;
    justify-content:center;
}

.product__buy{
    height:100px;
     display:flex;
     align-items:center;
}

.product__buy-button{
   width:570px;
}

.product__buy-button-tag{
    width:100%;
    height:56px;
    background-color: red;
    color:white;
    font-size:30px;
    font-weight:bold;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius: 4px;
}

.product__descri{
    height:321px;
    width:570px;
}

.product__descri-title{
    width:559px;
    height:74px;
    font-size:36px;
    font-weight:bold;
    display:flex;
    align-items:center;
}

.product__descri-text{
    width:559px;
    height:247px;
    font-size:24px;
}
.product__info{
    height:230px;
    width:570px;
}

.product__info-title{

    height:100px;
    width:559px;
    font-size:36px;
    font-weight:bold;
}

.product__info-category{
    width:410px;
    height:30px;

    font-size:24px;
    font-weight:bold;
    display:flex;
    justify-content:space-between;
}

.product__info-status{
    width:259px;
    height:100px;
    font-size:24px;
    font-weight:bold;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.product__comment{

    width:570px;
    height:743px;

}


.product__comment-num{
    width:570px;
    height:100px;
    font-size:36px;
    font-weight:bold;
}

.product__comment-user{
    width:570px;
    height:200px;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}

.product__comment-user-info{
    height:70px;
    display:flex;
    justify-content:space-between;
}

.product__comment-user-info-img{
    height:70px;
    width:70px; 
}

.product__comment-user-info-img-pic{
    width:100%;
    height:100%;
    border-radius: 50%;
    background-size:cover;
    background-color: #D9D9D9;
}

.product__comment-user-info-name{
    width:452px;
    height:100%;
    display:flex;
    align-items:center;
    font-size:30px;
    font-weight:bold;
}

.product__comment-user-comment{
    margin-bottom:31px;
    height:70px;
    width:100%;
}

.product__comment-user-comment-text{
    width:100%;
    height:100%;
    background-color: #E5E5E5;
    border-radius:5px;
    border:none;
    font-size:20px;
}


.product__comment-input{
    width:570px;
    height:422px;
}

.product__comment-input-title{
    width:570px;
    height:50px;
    font-size:28px;
    font-weight:bold;
}

.product__comment-input-form{
    width:570px;
    height:294px;

}

.product__comment-input-form-text{
    width:100%;
    height:246px;
}

.product__comment-input-form-button{
    font-size:25px;
    margin-top:48px;
    width:100%;
    height:56px;
    font-weight:bold;
    color:white;
    background-color: red;
    text-align:center;
}



